*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/aninitools.jks
/private_key.pepk
/app/google-services.json
/app/release/
/.idea/AndroidProjectSystem.xml
/anini.jks
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/feature_graphic.png
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/.idea/migrations.xml
/.idea/other.xml
/.idea/runConfigurations.xml
/upload_certificate.pem
